body {
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

/* Header */

header {
  background-color: black;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

header nav {
  width: 400px;
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
}

header nav span {
  margin-right: 10px;
}

header nav a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-decoration: underline;
}

/* Content */

.content {
  position: relative;
  top: 42px;
}

/* Mission */

.mission {
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.mission .text {
  background-color: black;
  width: 100%;
}

/* Tea Container */

.tea-month {
  width: 1000px;
  margin: 50px auto;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea img {
  height: 200px;
  width: 300px;
}

.tea {
  margin: 10px 10px;
}

/* Locations */


.location-title h2, .address h3, .address p {
  margin: 0;
  padding: 0;
}

.locations {
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations-background.jpg");
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  background-color: black;
  opacity: 1;
  height: 300px;
  width: 300px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
